Package: com.haoict.facebooknoads
Name: Facebook No Ads
Depends: mobilesubstrate, preferenceloader, com.haoict.libhdev (>= 4.6.0), firmware (>= 12)
Version: 1.4.1
Architecture: iphoneos-arm
Description: Free & Open Source Tweak for Facebook
 Free & Open Source Tweak for Facebook
 Change log: https://github.com/haoict/facebook-no-ads/releases
 . 
 Features:
 - Remove Ads
 - Can Download Video (long press to download)
 - Can Download Story
 - Can Only Me Profile Picture
 - Disable Story Seen (See friends's story without letting them know)
 - Hide Composer on News Feed
 - Hide Stories on News Feed
 - Support iOS 12-14
 - Support latest Facebook version (If it doesn't work, you should update the app to latest version >= 307.0)
 . 
 I work very hard to make good, free and open source tweaks for everyone
 If you want to support, you can buy me a coffee at https://www.paypal.me/haoict
 . 
 Thanks a ton
Maintainer: Hao Nguyen
Author: Hao Nguyen
Section: Tweaks
